body {
    margin: 0;
    padding: 0;
    min-width: 460px;
    width: 460px;
    white-space: nowrap;
    display: none;
    font-size: unset;
}

#caption {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#caption > div {
    font-weight: 700;
    padding-left: 10px;
    margin-right: 5px;
}

div.content {
    margin: 15px 10px;
}

div.no-content {
    margin: 10px;
    padding: 5px;
}

div.divider {
    margin-top: 10px;
    border-top: 1px solid #461aa0;
    width: 100%;
}

label {
    font-weight: 600;
    margin-right: 10px;
}

.pixel-detail label {
    text-align: right;
    min-width: 100px;
}

.pe-value {
    font-weight: 100;
}

div.pixel-caption {
}

div.pixel-list {
    margin: 10px 0;
}

div.pixel-detail-toggle {
    display: flex;
}

div.pixel-cell {
    flex-direction: row;
    padding-right: 5px;
    min-width: 15px;
    text-align: center;
}

div.pixel-cell:hover, div.pe-show {
    cursor: pointer;
}

div.pixel-cell:last-child {
    padding-left: 5px;
    padding-bottom: 5px;
}

div.pixel-detail {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
}

.pixel-entry {
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
}

.pe-show {
    color: blue;
    text-decoration: underline solid blue;
}

.pe-missing {
    color: #f44253;
}

.pe-longtext {
    padding: 3px;
    border: 1px dotted lightgray;
    margin: 5px 10px 5px -15px;
    font-size: 80%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.pixel-detail div.pixel-entry:nth-child(4) {
    margin-bottom: 15px;
}

.content ~ .content {
    border-top: 1px dotted lightgray;
    margin-top: -10px;
    padding-top: 10px;
}

.toggle-icon {
    color: darkgray;
    font-weight: 300;
}

.status-icon {
    font-weight: 300;
}
