body {
    margin: 0;
    padding: 0;
    min-width: 360px;
    width: 460px;
    white-space: nowrap;
    display: block;
}

#caption {
    margin: 10px;
    display: table;
}

#caption > div {
    display: table-cell;
    vertical-align: middle;
    font-size: 125%;
    font-weight: 700;
    padding-left: 10px;
    margin-right: 5px;
}

#caption > img {
    display: table-cell;
    vertical-align: middle;
}

#content, #no-content {
    display: none;
    margin: 10px;
    /* width: 100%; */
}

#no-content {
    padding: 10px 0;
}

div.divider {
    margin-top: 10px;
    border-top: 1px solid #461aa0;
    width: 100%;
}

div.pixel-group-divider {
    clear: both;
    margin-bottom: 10px;
}

label, .pe-show {
    font-weight: 600;
    font-size: 12px;
    margin-right: 5px;
}

div.pixel-caption {
}

div.pixel-list {
    font-size: 90%;
    margin: 10px 0;
}

div[data-template] {
    display: none;
}

div.pixel-cell {
    float: left;
    padding-right: 5px;
    min-width: 15px;
    text-align: center;
    vertical-align: middle;
}

div.pixel-cell:hover, div.pe-show {
    cursor: pointer;
}

div.pixel-cell:last-child {
    clear: right;
    padding-left: 5px;
    padding-bottom: 5px;
}

div.pixel-detail {
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
}

div.pixel-detail-toggle {
    clear: both;
}

div.pixel-detail-caption {
    color: gray;
    font-weight: 500;
    margin-bottom: 5px;
}

.pixel-entry {
    display: flex;
}

.pe-show {
    font-color: gray;
    text-decoration: underline dotted gray;
}

.pe-missing {
    color: #f44253;
}

.pe-longtext {
    padding: 3px;
    border: 1px solid lightgray;
    margin: 5px 10px 5px -15px;
    overflow-wrap: break-word;
}

.toggle-icon {
    color: darkgray;
    font-weight: 300;
}

.status-icon {
    font-weight: 300;
}
